.header
  .left
    left
  .middle
    TITLE
  .right
    right
.main
  .main_box
    ここに画像を入れよう

.box1
  .box1_hover
    .left_hover_content
    .left_hover_text
  .box1_hover
    .midleft_hover_content
    .midleft_hover_text
  .box1_hover
    .midright_hover_content
    .midright_hover_text
  .box1_hover
    .right_hover_content
    .right_hover_text

.box2
.box3
.footer