.top
  .top_main
    .top_text
  %i.fas.fa-bars.fa-2x
  .top_side
    .top_side_inner
      .top_side_inner_menu
        MENU
      .icon
        %i.fas.fa-times.fa-2x
    %p.list AAA
    %p.list BBB
    %p.list CCC
.box1
  .box1_hover
    %button.left_hover_content
      A
    .left_hover_text
      ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。
  .box1_hover
    .midleft_hover_content
      B
    .midleft_hover_text
      ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。
  .box1_hover
    .midright_hover_content
      C
    .midright_hover_text
      ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。
  .box1_hover
    .right_hover_content
      D
    .right_hover_text
      ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。
.drop
  = link_to 'link',drops_path, method: :get
