.header
  .left
    left
  .middle
    TITLE
  .right
    right
.main
  .main_box
    ここに画像を入れよう

.box1
  .box1_hover
    .left_hover_content
      A
    .left_hover_text
      ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。
  .box1_hover
    .midleft_hover_content
      B
    .midleft_hover_text
      ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。
  .box1_hover
    .midright_hover_content
      C
    .midright_hover_text
      ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。
  .box1_hover
    .right_hover_content
      D
    .right_hover_text
      ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。ここには文字が入ります。

.box2
.box3
.footer