.drop{
  background-color: rgba(41, 223, 223, 0.322);
  width: 100vw;
  height: 100vh;
}

.dropzone {
  background-color: aquamarine;
  width: 200px;
  height: 300px;
  border: 1px dashed #b4bcc2 !important;
  background: #f5f5f5 !important;
}
#upload-dropzone{
  width: 200px;
  height: 300px;
}