
.box1{
  height: 100vh;
  width: 100vw;
  display: flex;

  .box1_hover{
    width: 25%;
    height: 100%;

    .left_hover_content{
      background-color:skyblue;
      width: 100%;
      height: 50%;
      border-radius: 50%;
      line-height:350px;
      text-align:center;
      font-size: 200px;

    }

    .left_hover_text{
      width: 100%;
      height: 50%;
      text-align: center;
      display: none;
      

    }

    .midleft_hover_content{
      background-color:skyblue;
      width: 100%;
      height: 50%;
      border-radius: 50%;
      line-height:350px;
      text-align:center;
      font-size: 200px;

    }
    .midleft_hover_text{
      width: 100%;
      height: 50%;
      text-align: center;
      display: none;

    }

    .midright_hover_content{
      background-color:skyblue;
      width: 100%;
      height: 50%;
      border-radius: 50%;
      line-height:350px;
      text-align:center;
      font-size: 200px;

    }
    .midright_hover_text{
      width: 100%;
      height: 50%;
      text-align: center;
      display: none;

    }
    .right_hover_content{
      background-color:skyblue;
      width: 100%;
      height: 50%;
      border-radius: 50%;
      line-height:350px;
      text-align:center;
      font-size: 200px;

    }
    .right_hover_text{
      width: 100%;
      height: 50%;
      text-align: center;
      display: none;

    }





  }

}
